@import "tailwindcss";

:root {
  --color-primary: #00B7E3;
  --color-secondary: #FF6F3C;
  --color-dark: #121212;
  --color-light: #F8FAFC;
}

@theme inline {
  --color-background: var(--color-dark);
  --color-foreground: var(--color-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark);
    --foreground: var(--color-light);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
