@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --transition-all: all 0.5s ease;
  --color-primary: #00b7e3;
  --color-primary-rgb: 0, 183, 227;
  --color-primary-20: rgba(var(--color-primary-rgb), 0.2);
  --color-primary-75: rgba(var(--color-primary-rgb), 0.75);
  --color-secondary: #ff6f3c;
  --color-secondary-rgb: 255, 111, 60;
  --color-secondary-20: rgba(var(--color-secondary-rgb), 0.2);
  --color-secondary-75: rgba(var(--color-secondary-rgb), 0.75);
  --color-dark: #121212;
  --color-dark-rgb: 18, 18, 18;
  --color-dark-75: rgba(var(--color-dark-rgb), 0.75);
  --color-light: #f8fafc;
  --color-light-rgb: 248, 250, 252;
  --color-light-05: rgba(var(--color-light-rgb), 0.05);
  --color-light-10: rgba(var(--color-light-rgb), 0.1);
  --color-light-20: rgba(var(--color-light-rgb), 0.2);
  --shadow-light-05: 0 0 5px var(--color-light-05);
  --shadow-down-50: 0 5px 50px var(--color-light-05);
  --shadow-badget-dev: 0 0 5px var(--color-primary-20);
  --shadow-badget-des: 0 0 5px var(--color-secondary-20);
}

@theme inline {
  --color-background: var(--color-light);
  --color-foreground: var(--color-dark);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

* {
  scroll-behavior: smooth;
}

@layer base {
  *::-webkit-scrollbar {
    width: 0.15em;
  }

  *::-webkit-scrollbar-track {
    background: var(--color-light);
  }

  *::-webkit-scrollbar-thumb {
    background: color-mix(in oklab, var(--color-dark) 20%, transparent);
    border-radius: 20px;
    border: none;
  }

  *::selection {
    background: color-mix(in oklab, var(--color-secondary) 20%, transparent);
    color: var(--color-dark);
  }

  .dark {
    *::-webkit-scrollbar-track {
      background: var(--color-dark);
    }

    *::-webkit-scrollbar-thumb {
      background: color-mix(in oklab, var(--color-light) 20%, transparent);
    }

    *::selection {
      color: var(--color-light);
    }
  }

  body {
    @apply bg-background dark:bg-foreground bg-[url('/img/bg-pattern-white.svg')] dark:bg-[url('/img/bg-pattern-black.svg')] bg-fixed bg-no-repeat text-foreground dark:text-background;
    background-position: center top;
  }

  body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    z-index: 1000;
    pointer-events: none;
    background: url("https://res.cloudinary.com/dym3bnvpy/image/upload/v1760772976/noise_zputzk.gif");
    opacity: 0.05;
  }

  button {
    @apply cursor-pointer;
  }
}

.text-primary-color {
  color: var(--color-primary);
}

.text-dark-color {
  color: var(--color-dark);
}

.bg-primary-color {
  background-color: var(--color-primary);
}

.bg-secondary-color {
  background-color: var(--color-secondary);
}

.border-primary-color {
  border: 0.5px solid var(--color-primary-20);
}

.border-secondary-color {
  border: 0.5px solid var(--color-secondary-20);
}

.border-b-light-color {
  border: 0.5px solid var(--color-light-20);
}

.border-l-primary-color {
  border-left: 0.5px solid var(--color-primary-20);
}

.brand-transition {
  transition: var(--transition-all);
}

@layer components {
  h1 {
    @apply text-4xl lg:text-6xl font-bold;
  }

  h2 {
    @apply text-2xl lg:text-4xl font-semibold;
  }

  h3 {
    @apply text-xl lg:text-3xl font-semibold;
  }

  h4 {
    @apply text-lg lg:text-2xl font-semibold;
  }

  .text-button {
    @apply font-semibold;
    font-size: 18px;
  }

  .header {
    @apply w-full h-[80px] sticky top-0 px-4 sm:px-8 xl:px-0 z-50 border-b border-transparent;
    transition: var(--transition-all);
  }

  .header-active {
    @apply backdrop-blur-sm bg-background/75 dark:bg-foreground/75 border-b border-b-foreground/10 dark:border-b-background/10 shadow-2xl/10 shadow-foreground dark:shadow-background;
    transition: var(--transition-all);
  }

  .header-pc {
    @apply w-full sm:max-w-6xl mx-auto h-full hidden lg:flex justify-between items-center px-0;
  }

  .header-mobile {
    @apply max-w-6xl mx-auto h-full flex lg:hidden justify-center items-center px-0;
  }

  .logo-brand {
    @apply fill-foreground dark:fill-background;
    cursor: pointer;
    transition: var(--transition-all);
  }

  .logo-brand:hover {
    transform: scale(1.1);
  }

  .menu-item {
    @apply flex items-center gap-4 font-semibold px-4 py-2 rounded-md bg-transparent cursor-pointer;
    border: 0.5px solid transparent;
    transition: var(--transition-all);
  }

  .menu-item:hover {
    @apply bg-foreground/5 dark:bg-background/5 border border-foreground/20 dark:border-background/20 shadow-lg/5 shadow-foreground dark:shadow-background;
  }

  .menu-item img {
    width: auto;
    height: 20px;
  }

  .nav-mobile {
    @apply flex w-full h-fit py-2.5 justify-center items-center backdrop-blur-sm bg-background/75 dark:bg-foreground/75 border-t border-t-foreground/10 dark:border-t-background/10 z-50;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .nav-mobile-item {
    @apply flex flex-col justify-center items-center text-sm font-light;
  }

  .nav-mobile-item img {
    width: auto;
    height: 14px;
  }

  .nav-mobile-item svg {
    width: auto;
    height: 16px;
  }

  .btn-primary {
    @apply flex justify-center items-center gap-2 py-2 px-4 rounded-md text-[14px] font-semibold text-background dark:text-foreground border border-background/20 dark:border-foreground/20;
    background-color: var(--color-primary);
    transition: var(--transition-all);
  }

  .btn-secondary {
    @apply flex justify-center items-center gap-2 py-2 px-4 rounded-md text-sm font-semibold bg-transparent border border-primary/50 dark:border-primary/20;
    transition: var(--transition-all);
  }

  .btn-primary:hover,
  .btn-primary:focus {
    @apply scale-95 bg-primary/75;
    border: 0.5px solid var(--color-light-20);
    box-shadow: var(--shadow-light-05);
  }

  .btn-secondary:hover,
  .btn-secondary:focus {
    @apply scale-95 bg-foreground/5 dark:bg-background/5 border-foreground/20 dark:border-background/20 shadow-lg/5 shadow-foreground dark:shadow-background;
  }

  .slide-text {
    @apply text-center md:text-left;
  }

  .slide-img {
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 99%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 99%);
  }

  .tool-item {
    @apply w-[52px] h-[52px] sm:w-[77px] sm:h-[77px] flex justify-self-center;
    transition: var(--transition-all);
  }

  .tool-item-svg {
    @apply w-full h-auto;
  }

  .tool-item:hover {
    transform: scale(1.25);
  }

  .tool-tip-container {
    @apply absolute bottom-[calc(100%+0.5rem)] left-[50%] -translate-x-[50%] opacity-0 group-focus:opacity-100 sm:group-hover:opacity-100 w-auto;
    transition: var(--transition-all);
  }

  .tool-tip {
    @apply bottom-full right-0 rounded-md px-4 py-1 text-xs whitespace-nowrap;
    color: var(--color-light);
    background-color: var(--color-dark-75);
    border: 0.5px solid var(--color-primary-20);
    box-shadow: var(--shadow-light-05);
  }

  .tool-tip-arrow {
    @apply absolute left-0 top-full h-2 w-full;
    color: var(--color-primary-20);
  }

  .stats {
    @apply flex flex-col justify-center items-center gap-1 py-5 rounded-md bg-transparent border border-primary/60 dark:border-primary/20;
    transition: var(--transition-all);
  }

  .stats:hover {
    @apply bg-foreground/5 dark:bg-background/5 border border-foreground/20 dark:border-background/20 shadow-lg shadow-foreground/5 dark:shadow-background/5;
    /* box-shadow: var(--shadow-light-05); */
  }

  .portfolio-item {
    @apply w-full h-[250px] sm:min-h-[350px] rounded-lg overflow-hidden relative cursor-pointer text-foreground dark:text-background border border-foreground/20 dark:border-background/20 shadow-lg shadow-foreground/10 dark:shadow-background/10;
    transition: var(--transition-all);
  }

  .portfolio-item-dev {
    border: 1px solid var(--color-primary-75);
    box-shadow: 0 0 25px var(--color-primary-20);
  }

  .portfolio-item-des {
    border: 1px solid var(--color-secondary-75);
    box-shadow: 0 0 25px var(--color-secondary-20);
  }

  .portfolio-item-bg {
    @apply w-full h-full absolute;
    background: linear-gradient(180deg, rgba(var(--color-light-rgb), 0) 25%, rgba(var(--color-light-rgb), 0.75) 100%);
  }

  .portfolio-item-bg-hover {
    @apply w-full h-full absolute;
    background: linear-gradient(180deg, rgba(var(--color-light-rgb), 0) 0%, rgba(var(--color-light-rgb), 1) 90%);
  }

  .dark {
    .portfolio-item-bg {
      background: linear-gradient(180deg, rgba(var(--color-dark-rgb), 0) 25%, rgba(var(--color-dark-rgb), 0.75) 100%);
    }

    .portfolio-item-bg-hover {
      background: linear-gradient(180deg, rgba(var(--color-dark-rgb), 0) 0%, rgba(var(--color-dark-rgb), 1) 90%);
    }
  }

  .portfolio-item-blur {
    @apply w-full h-[60%] absolute bottom-0 left-0;
    backdrop-filter: blur(0px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .portfolio-item-blur-hover {
    @apply w-full h-[60%] absolute bottom-0 left-0;
    backdrop-filter: blur(25px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .badget {
    @apply py-1 px-2 absolute top-4 right-4 flex items-center gap-2 rounded-md text-sm;
    opacity: 1;
    transition: var(--transition-all);
  }

  .badget-hover {
    opacity: 0;
  }

  .badget-dev {
    @apply border border-foreground/20 dark:border-background/20;
    background-color: var(--color-primary-75);
    box-shadow: var(--shadow-badget-dev);
  }

  .badget-des {
    @apply border border-foreground/20 dark:border-background/20;
    background-color: var(--color-secondary-75);
    box-shadow: var(--shadow-badget-des);
  }

  .tag-box {
    @apply py-1 px-3 flex items-center gap-2 font-light rounded-md bg-foreground/5 dark:bg-background/5 border border-foreground/20 dark:border-background/20 shadow-lg shadow-foreground/5 dark:shadow-background/5;
    font-size: 12px;
  }

  .modal-bg {
    @apply fixed px-2 sm:px-0 inset-0 flex justify-center items-center backdrop-blur-sm z-100 invisible transition-all;
  }

  .modal-bg-active {
    @apply visible bg-background/75 dark:bg-foreground/75;
  }

  .modal {
    @apply w-full sm:w-[90%] h-[700px] sm:h-[800px] lg:h-[1100px] xl:h-[800px] lg:w-4xl xl:w-5xl rounded-md bg-background dark:bg-foreground shadow-lg shadow-foreground/5 dark:shadow-background/5 p-6 scale-125 opacity-0 transition-all;
    overflow: hidden;
    overflow-y: auto;
  }

  .modal-active {
    @apply scale-100 opacity-100;
  }

  .modal-close {
    @apply absolute top-2 right-2 rounded-md bg-transparent border border-transparent shadow-none;
    transition: var(--transition-all);
  }

  .modal-close:hover {
    @apply bg-foreground/5 dark:bg-background/5 border border-foreground/20 dark:border-background/20 shadow-lg shadow-foreground/5 dark:shadow-background/5;
  }

  .social-icon {
    @apply p-1 rounded-md cursor-pointer bg-transparent border border-transparent shadow-none;
    transition: var(--transition-all);
  }

  .social-icon:hover {
    @apply bg-foreground/5 dark:bg-background/5 border border-foreground/20 dark:border-background/20 shadow-lg/5 shadow-foreground dark:shadow-background;
  }

  .input-form {
    @apply w-full py-3 pl-12 rounded-md bg-transparent border border-primary/20 text-foreground dark:text-background;
    transition: var(--transition-all);
  }

  .input-form::placeholder {
    color: var(--color-dark);
  }

  .dark {
    .input-form::placeholder {
      color: var(--color-light);
    }
  }

  .input-form:focus {
    @apply outline-none bg-foreground/5 dark:bg-background/5 border border-foreground/20 dark:border-background/20 shadow-lg/5 shadow-foreground dark:shadow-background;
  }

  .check-form {
    @apply w-full py-3 pl-3 rounded-md cursor-pointer bg-transparent border border-primary/20;
    transition: var(--transition-all);
  }

  .check-form:is(:where(.peer):checked ~ *) {
    @apply outline-none bg-foreground/5 dark:bg-background/5 border border-foreground/20 dark:border-background/20 shadow-lg/5 shadow-foreground dark:shadow-background;
  }

  .label-form {
    @apply flex items-center relative text-foreground dark:text-background;
  }

  .label-message {
    @apply flex items-start relative;
  }

  .accept-check {
    @apply relative h-5 w-5 cursor-pointer appearance-none rounded-md before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 border border-primary/60 dark:border-primary/20;
    transition: var(--transition-all);
  }

  .accept-check:checked {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }

  .accept-check:checked::before {
    content: var(--tw-content);
    background-color: var(--color-primary);
  }

  .footer {
    @apply flex justify-center items-center py-10 mt-25 text-center text-sm font-light;
  }
}

@media all and (max-width: 640px) {
  body {
    @apply bg-[url('/img/bg-pattern-white-mobile.svg')] dark:bg-[url('/img/bg-pattern-black-mobile.svg')] pb-20;
  }
}
